* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to left, #4a8cff 0%, #70daff 100%);
    display: flex;
    justify-content: center;
}

.home-container {
    width: 650px;
    height: 550px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 20px black;
    font-family: 'Fredoka One', cursive;
    display: none;
    /* REMOVE THE DISPLAY NONE BEFORE PUSHING TO MASTER BRANCH */
}

.title {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

/* Buttons */
button {
    outline: none;
    cursor: pointer;
}

.player-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.player-choices {
    font-size: 35px;
    margin-right: 10px;
}

.one-player, .two-player {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #82a9ff;
    border-radius: 3px;
    border: 1px solid #82a9ff;
    margin-left: 1px;
}

.one-player {
    background-image: url('Icons/onePlayer.svg');
}

.two-player {
    background-image: url('Icons/twoPlayer.svg');
}

/* Player names Input */
.player-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.player-1-input, .player-2-input {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-size: 30px;
}

input {
    font-size: 18px;
    padding: 8px;
    margin-left: 7px;
    font-family: 'Fredoka One', cursive;
}

/* Play button */
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.play {
    padding: 12px 35px 12px 35px;
    font-size: 30px;
    font-weight: 500;
    background-color: #ff7aa6;
    border: 2px solid black;
    border-radius: 4px;
}

/* Game container */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 550px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 20px black;
    font-family: 'Fredoka One', cursive;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff7aa6;
    border: 1px solid #ff7aa6;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    padding: 10px;
    border-radius: 5px;
}

.scores {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.player-score-container, .ai-score-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    min-width: 150px;
    background-color: #ce99ff;
}

.tie-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    background-color: #82a9ff;
}

.reset-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.reset-button {
    background-color: #ff7aa6;
    border: 1px solid #ff7aa6;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

/* Game board */
.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 333px;
    margin-top: 10px;
    border: 2px solid black;
    background-color:rgb(155, 209, 255);
}

.board {
    display: grid;
    width: 350px;
    height: 333px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.grid-cell {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

.cell-content {
    display: flex;
    align-items: center;
    font-size: 60px;
}

/* Results container */
.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    display: none;
}

.results-banner {
    font-size: 40px;
    padding: 12px 35px 12px 35px;
}